<h3 style="margin-top: 25px;">Comments (<%= @comments.count %>)</h3>
<ul class="media-list">
  <%@comments.each do |comment| %>
    <li class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" src="http://placehold.it/64x64">
	  </a>
      <div class="media-body">
        <h5 class="media-heading"><%= time_ago_in_words(comment.created_at) %> by <%= comment.user.email %></h5>
        <div class="media">
			<%= markdown(comment.content)  %>
        </div>
      </div>
    </li>
  <% end %>
</ul>