<div class='well'>
<h1>Compra Efetuada!</h1>
<p class="lead">Sua compra foi efetuada com sucesso. Em breve estaremos enviando seus itens pelo correio. Obrigado por comprar produtos da High Effects.</p>
</div>