<li class="current" style="
background: #ff0000; /* Old browsers */
background: -moz-linear-gradient(top,  #ff0000 0%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff0000 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff0000 0%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff0000 0%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff0000 0%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
">
	<%= image_tag('lego_mess.jpg') %>
	<div class="container" style="background: rgba(255, 255, 255, 0.0); width: 100%; top: 100px; margin:0; margin-left: 20px; padding:0;">
	  <div class="row">
	  	<div class="" style="margin-left: auto; margin-right: auto; width: 400px;">
	  		<div>
				<div class="container" style="background: rgba(255, 255, 255, 0.0); width: 100%; top: 175px; margin:0; margin-left: 20px; padding:0;">
					<h1 style="font-family: 'AkzidenzGrotesk-ExtraBoldCond'; color: white; font-size: 85px; line-height: 73px; margin-top: 5px; margin-bottom: 10px">ERROR 404</h1>
					<p class="header-text" style=" margin-top: -5px; background-color: black; width: 380px;"><%= t("sys.error_404")%></p>
					<p ><% debug(params) %></p>
				</div>
			</div>
		</div>
	  </div>
	</div>
</li>
<li></li>
