<li>
	<%= image_tag('nuvens.jpeg', :style => "left: 0px; margin-top: 40px;") %>
    			
	<div class="container" style="background: rgba(255, 255, 255, 0.0); width: 100%; top: 100px; margin:0; margin-left: 20px; padding:0;">
	  <div class="row">
	  	<div style="width: 250px; float: right; margin-right: 90px;">
	  		<div style="margin-right: -30px;">
	      		<h1 class="" style="font-family: 'AkzidenzGrotesk-ExtraBoldCond'; color: white; font-size: 90px; line-height: 90px; text-align: right; margin-top: -5px">Contato</h1>
	      		<p class="header-text" style="text-align: right; margin-top: -5px">Mande um email para <a>contato@higheffects.com.br</a><br> ou escreva uma mensagem:</p>
			    <% if notice %>
			   	  <div class="alert alert-success pull-right">
			   	    <button type="button" class="close" data-dismiss="alert">×</button>
			   	    <%= notice %>
			   	  </div>
			    <% end %>
			    <% if alert %>
			     <div class="alert alert-error pull-right">
			       <button type="button" class="close" data-dismiss="alert">×</button>
			       <%= alert %>
			     </div>
			     <% end %>
				 


				 <%= render 'form' %>
				 
				 <div style="text-align: right; margin-top: 300px;">
					<a class="big_social_icon" href="https://www.facebook.com/HighEffects"><i class="icon-facebook-sign"></i></a>
				 	<a class="big_social_icon" href="http://www.youtube.com/HighEffectsBR"><i class="icon-youtube-sign"></i></a>
					<a class="big_social_icon" href="https://github.com/HighEffects"><i class="icon-github"></i></a>
				</div>
			 </div>
		</div>
	  </div>
	</div>
</li>
<li></li>

