<h1><%= t ".listing_files" %></h1>

<ul class="thumbnails">
  <% @uploads.each do |file| %>
    <li class="span2" style="height: 160px;">
      <a href="<%= upload_path(file) %>" class="thumbnail">
        <%= image_tag file.file.thumb.to_s %>
      </a>
	  <small><%= file.name %></small>
    </li>
  <% end %>
</ul>