<h1>Listing uploads</h1>

<ul class="thumbnails">
  <% @uploads.each do |file| %>
    <li class="span2">
      <a href="<%= upload_path(file) %>" class="thumbnail">
        <%= image_tag file.file.thumb.to_s %>
      </a>
	  <small><%= file.name %></small>
    </li>
  <% end %>
</ul>

  
  


<br />

<%= link_to 'Upload File', new_upload_path, :class => "btn" %>
