<ul class="nav">
  <li><%= link_to "lab", {:controller => '/pages', :action => 'index'}  %></li>
  <li><%= link_to "blog", posts_path  %></li>
  <li><%= link_to "tags", tags_path  %></li>
  <li><%= link_to "files", uploads_path  %></li>
</ul>